* {
  margin: 0;
  overflow: hidden;
}

body {
  background-color: aquamarine;
}

header,
h2 {
  display: flex;
  justify-content: center;
}

#img-div {
  display: flex;
  justify-content: center;
}

#image {
  max-width: 100%;
  height: 550px;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tributelink {
  font-size: larger;
}
